body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background: #f5f5f5;
  color: #105700;
}

header {
  background: linear-gradient(to right, #ded1bd, #faf6f2);
  color: rgb(0, 95, 43);
  padding: 50px 0;
  text-align: center;
}

.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

nav {
  background-color: #8b5a40;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 40px 20px;
  background-color: white;
  margin: 10px 0;
  border-radius: 10px;
  width: 100%;
  max-width: none;
}

.project {
  margin-bottom: 20px;
}

.skills li {
  display: inline-block;
  background-color: #ffd900;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #ffe100;
  color: white;
}

/* Media queries for smaller screens */
@media (max-width: 600px) {
  .profile-pic {
    width: 150px;
    height: 150px;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  section {
    width: 95%;
    padding: 20px;
  }
}

